Apriori uses 3 measures:

1. Support: Popularity of an itemset, {X}/total items

    eg. Support{X} = 2/5
  
2. Confidence: How likely an item Y will be together with item X, {X->Y}

    eg. Confidence{X->Y} = Support{X,Y} / Support{X}

    Only accounts for how popular {X} is

3. Lift: How likely an item Y will be together with item X, with consideration of popularity of both {X} and {Y}

    eg. Lift{X->Y} = Support{X,Y} / Support{X} * Support{Y} or Confidence{X->Y} / Support{Y}

In [55]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [64]:
# Dataset from http://archive.ics.uci.edu/ml/datasets/Online+Retail
# Reading in data to dataframe
data = pd.read_csv('/content/Online_Retail.csv')

data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [101]:
data2 = data.dropna()

# Converting data into unique rows

uk = (data2[data2['Country'] =="France"].pivot_table(index="InvoiceNo", columns="Description", 
                                                     values="Quantity", 
                                                     aggfunc="sum",fill_value=0))

In [87]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  object
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.9+ MB

In [75]:
# Encoding data

def enc(x):
  if x<=0:
    return 0
  if x>=1:
    return 1

In [97]:
uk2 = uk.applymap(enc)
uk2.drop('POSTAGE', inplace=True, axis=1)

uk2.head()

Description   4 PURPLE FLOCK DINNER CANDLES  ...  ZINC WIRE SWEETHEART LETTER TRAY
InvoiceNo                                    ...
536365                                    0  ...                                 0
536366                                    0  ...                                 0
536367                                    0  ...                                 0
536368                                    0  ...                                 0
536369                                    0  ...                                 0

[5 rows x 3859 columns]

In [98]:
# Apriori
# Decide on the threshhold for each measure ie. min_support/confidence/lift

ap1 = apriori(uk2, min_support = 0.02, use_colnames = True) 

rules = association_rules(ap1, metric ="lift", min_threshold = 1) 

# Sorting 
rules = rules.sort_values(['confidence', 'lift'], ascending=[False, False]) 

rules.head()

                             antecedents  ... conviction
5       (PINK REGENCY TEACUP AND SAUCER)  ...   5.368602
6      (GREEN REGENCY TEACUP AND SAUCER)  ...   4.346351
2   (GARDENERS KNEELING PAD CUP OF TEA )  ...   3.571425
7     (ROSES REGENCY TEACUP AND SAUCER )  ...   3.252989
31    (RED HANGING HEART T-LIGHT HOLDER)  ...   2.715365

[5 rows x 9 columns]

In [102]:
rules.sort_values('lift', ascending=False).nlargest(10, 'lift')

                             antecedents  ... conviction
5       (PINK REGENCY TEACUP AND SAUCER)  ...   5.368602
4      (GREEN REGENCY TEACUP AND SAUCER)  ...   2.869257
7     (ROSES REGENCY TEACUP AND SAUCER )  ...   3.252989
6      (GREEN REGENCY TEACUP AND SAUCER)  ...   4.346351
3    (GARDENERS KNEELING PAD KEEP CALM )  ...   2.530179
2   (GARDENERS KNEELING PAD CUP OF TEA )  ...   3.571425
1            (ALARM CLOCK BAKELIKE RED )  ...   2.406779
0           (ALARM CLOCK BAKELIKE GREEN)  ...   2.812121
33         (WOODEN FRAME ANTIQUE WHITE )  ...   2.301479
32   (WOODEN PICTURE FRAME WHITE FINISH)  ...   2.071419

[10 rows x 9 columns]